---
import Layout from '../layouts/Layout.astro'
import ChaosMode from '../components/ChaosMode.jsx'
import Footer from '../components/Footer.astro'
import { getCollection, render } from 'astro:content'

export async function getStaticPaths() {
	const posts = await getCollection('posts')
	return posts
		.filter((p) => p.id !== 'index')
		.map((p) => ({
			params: { slug: p.id },
			props: { entry: p },
		}))
}

const { entry } = Astro.props
const { Content } = await render(entry)
const frontmatter = entry.data
---

<Layout title={`${frontmatter.title} ~ zack.cat`}>
	<article class="content">
		<a href="/" class="small">return home</a>
		<ChaosMode client:load image={frontmatter.image} title={frontmatter.title} />
		<Content />
		<Footer />
	</article>
</Layout>
