---
import Layout from '../layouts/Layout.astro'
import ChaosMode from '../components/ChaosMode.jsx'
import Footer from '../components/Footer.astro'
import { getCollection, render } from 'astro:content'

const allPosts = await getCollection('posts')
const indexEntry = allPosts.find((p) => p.id === 'index')
const { Content } = await render(indexEntry)
const frontmatter = indexEntry.data
---

<Layout title={`${frontmatter.title} ~ zack.cat`}>
	<article class="content">
		<a href="/" class="small" style="visibility: hidden">return home</a>
		<ChaosMode client:load image={frontmatter.image} title={frontmatter.title} />
		<Content />
		<Footer />
	</article>
</Layout>
