---
import { getCollection } from 'astro:content'

const allPosts = await getCollection('posts')
const posts = allPosts
	.filter((p) => p.id !== 'index')
	.map((p) => ({ slug: p.id, title: p.data.title }))
---

<footer>
	<nav class="sitemap">
		<details open>
			<summary><h2>Sitemap ›</h2></summary>
			<ul class="sitemap-links small">
				{
					posts.map((p) => (
						<li>
							<a href={`/${p.slug}`}>{p.title}</a>
						</li>
					))
				}
			</ul>
		</details>
	</nav>
	<p class="small">
		Content on this site is licensed under a{' '}
		<a href="https://creativecommons.org/licenses/by/4.0/"
			>Creative Commons Attribution 4.0 International license</a
		>.
	</p>
</footer>
